@{
    ViewBag.Title = "ContactInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $('#ul_header_menu2 li').removeClass("current"); // удаляем у всех ссылок класс selected
    $('#header_li_contact').addClass("current"); // устанавливаем класс active при нажатии
</script>

<h3>51931, м.Кам'янське, вул. Москворецька, 19</h3>