@{
    ViewBag.Title = "Developer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $('#ul_header_menu2 li').removeClass("current"); // удаляем у всех ссылок класс selected
    $('#header_li_developer').addClass("current"); // устанавливаем класс active при нажатии
</script>

<div >
                
    <div id="ctl00_cphmiddle_LtrMain"><div style="margin-left: -0">
"Укратомприбор" (Корпорация "Украинские атомные приборы и системы")</span></b></font> <br>
<b><br></b><strong><span style="font-size:10.0pt;font-family:Tahoma"><font color="#000080">Адрес:</font><span style="mso-spacerun:yes">&nbsp; &nbsp; &nbsp; &nbsp; </span></span></strong><strong><span style="font-size:10.0pt;font-family:Tahoma;font-weight:normal;font-weight:
bold">Украина, </span></strong><strong><span style="font-size:10.0pt;font-family:Tahoma;font-weight:normal;font-weight:
bold"><strong><span style="font-size:10.0pt;font-family:Tahoma;font-weight:normal;font-weight:
bold">03680, </span></strong>г. Киев, ул. Антоновича, 152, оф. </span></strong><span style="font-size:10.0pt;font-family:Tahoma;font-weight:normal;font-weight:
bold">224</span><span style="font-size:10.0pt;font-family:Tahoma"></span><b><span style="font-size:10.0pt;font-family:Tahoma"><br>
<br><strong><span style="font-family:Tahoma"><font color="#000080">Тел./факс:</font> </span></strong></span></b><strong><span style="font-size:10.0pt;font-family:Tahoma;font-weight:normal;font-weight:
bold">+38 044 501 61 78</span></strong><b><span style="font-size:10.0pt;
font-family:Tahoma"><br>
</span></b><strong><span style="font-size:10.0pt;font-family:Tahoma;font-weight:
normal;font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +38 044 528 33 56</span></strong><b><span style="font-size:10.0pt;font-family:
Tahoma"><br>
</span></b><strong><span style="font-size:10.0pt;font-family:Tahoma;font-weight:
normal;font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
+38 044 529 22 96</span></strong><br>
<b><span style="font-size:10.0pt;font-family:Tahoma"><br><font color="#000080"><strong><span style="font-family:Tahoma">E-mail:</span></strong></font></span></b><font color="#000080">
&nbsp;</font> &nbsp;<span style="font-size: 10pt; font-family: Tahoma;"> &nbsp; &nbsp; info@uap.kiev.ua</span></p><p class="MsoNormal"><font size="2"><b><font face="Tahoma"><font color="#000080">Карта проезда:</font></font></b></font><br></p>



<iframe marginheight="0" marginwidth="0" src="https://maps.google.com.ua/maps?f=q&amp;source=s_q&amp;geocode=&amp;q=152+%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%93%D0%BE%D1%80%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9A%D0%B8%D0%B5%D0%B2&amp;aq=0&amp;oq=%D0%B3%D0%BE%D1%80%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+152&amp;sll=50.402036,30.53269&amp;sspn=0.709884,1.234589&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%B2%D1%83%D0%BB.+%D0%93%D0%BE%D1%80%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+152,+%D0%9A%D0%B8%D1%97%D0%B2,+%D0%BC%D1%96%D1%81%D1%82%D0%BE+%D0%9A%D0%B8%D1%97%D0%B2&amp;t=m&amp;z=14&amp;ll=50.417932,30.519001&amp;output=embed" scrolling="no" frameborder="0" height="350" width="425"></iframe><br><small><a href="https://maps.google.com.ua/maps?f=q&amp;source=embed&amp;geocode=&amp;q=152+%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%93%D0%BE%D1%80%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9A%D0%B8%D0%B5%D0%B2&amp;aq=0&amp;oq=%D0%B3%D0%BE%D1%80%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+152&amp;sll=50.402036,30.53269&amp;sspn=0.709884,1.234589&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%B2%D1%83%D0%BB.+%D0%93%D0%BE%D1%80%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+152,+%D0%9A%D0%B8%D1%97%D0%B2,+%D0%BC%D1%96%D1%81%D1%82%D0%BE+%D0%9A%D0%B8%D1%97%D0%B2&amp;t=m&amp;z=14&amp;ll=50.417932,30.519001" style="color:#0000FF;text-align:left">Просмотреть увеличенную карту</a></small></div></div>
    <div style="position: relative; width: 100%; ">
        <table id="ctl00_cphmiddle_GuideCatalogue" border="0" style="width:100%;">

</table>
    </div>
    
    <div id="ctl00_cphmiddle_TblNavigationTabel" style="width: 100%; padding-bottom:40px; height: 34px; margin-bottom: 20px;" align="center">
            
        </div>

            </div>

