@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $('#ul_header_menu2 li').removeClass("current"); // удаляем у всех ссылок класс selected
    $('#header_li_help').addClass("current"); // устанавливаем класс active при нажатии
</script>

<style>
    body {
        font-family: Myriad Pro;
    }
    ul {
    padding: 0;
    margin-left: 20px;
   }
    a {
        text-decoration: none;
        color: white;
    }
  </style>

<div style="width: 90%; margin: auto; margin-top: 20px;">

  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Загальна інформація</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        Веб-сервіс є інформативним модулем отримання інформації про пости та містить в своєму складі: 
        <ul>
            <li>картографічну модель відображення постів;</li>
            <li>модуль створення звітів роботи постів;</li>
            <li>модуль створення графіків та таблиць;</li>
            <li>інформацію щодо розробників та власників системи.</li>
        </ul>
        Головне вікно містить такі елементи:
        <ul>
            <li>меню;</li>
            <li>схематичну(географічну) карту з елементами керування;</li>
            <li>інформаційний блок.</li>
        </ul>
        За замовчуванням система оновлюється кожні 20 хвилин.  
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">Картографічний модуль</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        Основою картографічного модулю є карта, побудована на основі карт корпорації "Google"
        Складається з таких елементів:
        <ul>
            <li>карта розміщення постів;</li>
            <li>маркери постів;</li>
            <li>кнопки зміни масштабу карти;</li>
            <li>кнопка зміни типу карти(схематична чи спутникова);</li>
            <li>кнопка центрування карти по вибраному посту;</li>
            <li>кнопка відкриття карти на весь екран;</li>
            <li>
                інформаційний блок, що складається з:
                <ul>
                    <li>Блок пошуку посту за номером або назвою;</li>
                    <li>Інформація - надає загальну інформацію про вибраний пост: номер, тип, географічні координати, статус станом на останню дату оновлення параметрів, параметри та їх значення, кнопки побудови графіку за вибраний період та звіту;</li>
                    <li>Журнал подій - інформація про виниклі критичні ситуації з постами з можливістю фільтрувати по даті. Зберігається до 100 подій;</li>
                    <li>Налаштування - блок фільтрування відображуваних постів та їх параметрів, налаштування часу оновлення системи,  
                        ввімкнення(вимкнення) автоматичного приховування контекстної інформації посту після активації іншого та налаштування автоматичного обходу 
                        постів для відображення контекстної інформації.
                    </li>
                </ul>
            </li>
            <li>контекстного меню, що з'являється на маркером після його активації.</li>
        </ul>  
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">Модуль створення звітів</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        Звіт будується по вибраному посту з відповідних параметрів на основі останніх 24-х значень з діапазоном в годину.
        Для звіту можливо вказати ПІБ відповідальної особи.
        Звіт можливо експортувати в PDF та EXCEL.  
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">Модуль створення графіків та таблиць</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        Є два варіанти для побудови графіку:
        <ul>
            <li>з інформаційного блоку(графік будується для одного посту по декількох параметрах)</li>
            <li>з головного меню(графік будується для одного параметру по декількох постах)</li>
        </ul>
        Графік будується піля натиснення на відповідну кнопку та вибору періоду і постів(параметрів).
        Паралельно графіку заповнюється таблиця.
        Експортувати графік або таблицю можна в декілька форматів: PDF, XLS, PNG.
      </div>
    </div>
  </div>
</div>